a {
    text-decoration: none;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
}

.nav-link {
    color: #666666 !important;
}

body {
    background-image: url(images/circle.png);
    /* background-image: url(images/pixles.png); */
    /* background-image: url(images/graypattern.jpg); */
    background-repeat: repeat;
    width: 100%;
}

.bg-dark {
    background-color: #ffffff !important;
}
.navbar-brand {
    background-color: #4aaaa5;
    padding: 10px;
}
.navbar-toggler {
    background-color: #4aaaa5;
}

.figure-caption, .figure-github {
    /* position: relative;
    bottom: 150px; */
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    text-decoration: none;
}

.figure-caption {
    position: relative;
    bottom: 130px;
}

.figure-github {
    position: relative;
    bottom: 120px;
}


.plop {
    margin: 20px;
}

.pop {
    width: 250px;
    height: 250px;
}

.container {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 120px;

}

.row  {
    justify-content: center;
}

header {
    text-align: center;
}

h2 {
    color: #4aaaa5;
    font-size: 37px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
}

.nav-link:hover {
    background-color: #4aaaa5;
}

/* .figure-caption:hover {
    opacity: 0.5;
} */

.figure-caption:hover {
    background-color: #979694
}

.figure-github:hover {
    background-color: #979494
}

.bg-info {
    background-color: #4aaaa5 !important;
}

.descript {
    font-size: 20px;
    line-height: 2;
    color: rgb(75, 72, 72);
}